<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @user_or_book == "1" %>
        
        <h3>Users search for ' <%= "#{@search}" %> '</h3>
        <%= render "users/index", users: @users %>

      <% elsif @user_or_book == "2" %>
        
        <h3>Boos search for ' <%= "#{@search}" %> '</h3>
        <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr class="book_<%= book.id %>">
              <%= render "books/list", book: book %>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </div>
  </div>
</div>